# Ignore credentials
credentials.json
src/main/resources/credentials.json

# Ignore build folders
target/

# Ignore IDE/system files
.classpath
.project
.factorypath
.settings/

# Ignore VSCode/IntelliJ if used
.vscode/
.idea/
